* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/
body {
    background-color: black;
}
main {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.green {
    color: green;
}

i.fas {
    font-size: 25px;
}

i.far {
    font-size: 25px;
}

#font-size10 {
    font-size: 10px;
}
#mr0 {
    margin-right: 0;
}
/*Fine common*/

/*Main: Quattro sezioni*/

/*Section function*/


main > .function {
    position: absolute;
    top: 10px;
    right: 10px;
}
.function button{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: white;
    border: none;
    padding: 5px;
}


/*End function*/

/*Section main-left e main-right*/
main > .section{
    display: flex;
}

.section-main-left,
.section-main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: calc(90vh - 100px);
    font-size: 80px;
}

.section-main-left > span,.section-main-right > span{
    font-size: 30px;
    color: white;
}

.section-main-left > i,.section-main-right > i{
    color: gray;
}

.section-main-right > i:active{
    color: blue;
}


/*End section main-left e main-right*/

/*Section main-center*/
.section-main-center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: calc(90vh - 100px);
    overflow-x: hidden;    
}

.row{
    display: flex;
    justify-content: space-evenly;
    height: calc(90vh / 5);
}
.row > div{
    margin-bottom: 10px;
    width: 150px;
}
.row > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-main-center > .row > div{
    position: relative;
}

img + div{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
}

/*End section main-center*/

/*End main*/

/*Footer: navigatore*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 35, 36);
}

/*Footer left - right*/
.footer_items-left,
.footer_items-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 10vh;
    
}
.footer_items-left > div, .footer_items-center > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer_items-center > div{
    margin-right: 40px;
}

.footer_items-right {
    background-color: rgb(75, 76, 79);
    color: red;
}

/*Fine footer left e right*/

.footer_items-center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh;
    flex-grow: 6;
}


/*End footer: navigatore*/

